@page
@using System.Globalization
@using gym_project_business_logic.Model
@model GymProjectClient.Pages.CoachWorkDataModel
@{
}

<div>

	<h3>@Model.Coach.FullName Welicome</h3>
	<p><strong>Специализация:</strong> @Model.Coach.Specialization</p>

	<div class="form-group mb-3">
		<form method="post">
			<select asp-for="SelectedGymId" asp-items="Model.Gyms" onchange="this.form.submit()">
				<option value="">-- Выберите зал --</option>
			</select>
		</form>
	</div>

	<h1>Расписание работы тренера</h1>
	<p>Отметьте доступные слоты.</p>

	<table class="bg-light w-100">
		<thead>
			<tr>
				<th>Время / Дата</th>
            @for (int i = 0; i < 7; i++)
            {
                var date = Model.Date.AddDays(i);
                <th>
                    @date.ToString("dd MMMM", new CultureInfo("ru-RU"))<br />
                    @date.ToString("dddd", new CultureInfo("ru-RU"))
                </th>
            }
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>11:00</td>
				@for (int i = 0; i < 7; i++)
				{
					var currentDate = Model.Date.AddDays(i);
					var slotTime = new DateTime(currentDate.Year, currentDate.Month, currentDate.Day, 11, 0, 0);
					<td class="time-slot">
						<div class="availability-input">
							@if (Model.Workouts != null)
							{
								foreach (var work in Model.Workouts)
								{
									if (work.BookingTime == slotTime)
									{
										<div class="card shadow" data-bs-toggle="modal" data-bs-target="#eventModal"
											 data-title="@work.Title" data-coach="@work.NameCoach" data-duration="@work.DurationMinutes" data-gym="@work.GymId" data-description="@work.Description">
											<div class="card-body">
												<h5 class="card-title">@work.Title</h5>
												<h6 class="card-subtitle mb-2 text-muted">@work.NameCoach</h6>
												<p class="card-text mb-1"><strong>Длительность:</strong> @work.DurationMinutes мин.</p>
												<p class="card-text mb-1"><strong>Зал №:</strong> @work.GymId</p>
											</div>
										</div>
									}
									else
									{
										<button type="button" data-bs-toggle="modal" data-bs-target="#slotModal" class="btn btn-danger">+</button>
									}
								}
							}
							@if (Model.Workouts.Count == 0)
							{
								<button type="button" data-bs-toggle="modal" data-bs-target="#slotModal" class="btn btn-danger">+</button>
							}
						</div>
					</td>
				}
			<tr>
				<td>14:00</td>
					@for (int i = 0; i < 7; i++)
					{
						var currentDate = Model.Date.AddDays(i);
						var slotTime = new DateTime(currentDate.Year, currentDate.Month, currentDate.Day, 14, 0, 0);
					<td class="time-slot">
						<div class="availability-input">
								@if (Model.Workouts != null)
								{
									foreach (var work in Model.Workouts)
									{
										if (work.BookingTime == slotTime)
										{
										<div class="card shadow" data-bs-toggle="modal" data-bs-target="#eventModal"
											 data-title="@work.Title" data-coach="@work.NameCoach" data-duration="@work.DurationMinutes" data-gym="@work.GymId" data-description="@work.Description">
											<div class="card-body">
												<h5 class="card-title">@work.Title</h5>
												<h6 class="card-subtitle mb-2 text-muted">@work.NameCoach</h6>
												<p class="card-text mb-1"><strong>Длительность:</strong> @work.DurationMinutes мин.</p>
												<p class="card-text mb-1"><strong>Зал №:</strong> @work.GymId</p>
											</div>
										</div>
										}
										else
										{
										<button type="button" data-bs-toggle="modal" data-bs-target="#slotModal" class="btn btn-danger">+</button>
										}
									}
								}
								@if (Model.Workouts.Count == 0)
								{
								<button type="button" data-bs-toggle="modal" data-bs-target="#slotModal" class="btn btn-danger">+</button>
								}
						</div>
					</td>
					}
			<tr>
				<td>17:00</td>
						@for (int i = 0; i < 7; i++)
						{
							var currentDate = Model.Date.AddDays(i);
							var slotTime = new DateTime(currentDate.Year, currentDate.Month, currentDate.Day, 17, 0, 0);
					<td class="time-slot">
						<div class="availability-input">
									@if (Model.Workouts != null)
									{
										foreach (var work in Model.Workouts)
										{
											if (work.BookingTime == slotTime)
											{
										<div class="card shadow" data-bs-toggle="modal" data-bs-target="#eventModal"
											 data-title="@work.Title" data-coach="@work.NameCoach" data-duration="@work.DurationMinutes" data-gym="@work.GymId" data-description="@work.Description">
											<div class="card-body">
												<h5 class="card-title">@work.Title</h5>
												<h6 class="card-subtitle mb-2 text-muted">@work.NameCoach</h6>
												<p class="card-text mb-1"><strong>Длительность:</strong> @work.DurationMinutes мин.</p>
												<p class="card-text mb-1"><strong>Зал №:</strong> @work.GymId</p>
											</div>
										</div>
											}
											else
											{
										<button type="button" data-bs-toggle="modal" data-bs-target="#slotModal" class="btn btn-danger">+</button>
											}
										}
									}
									@if (Model.Workouts.Count == 0)
									{
								<button type="button" data-bs-toggle="modal" data-bs-target="#slotModal" class="btn btn-danger">+</button>
									}
						</div>
					</td>
						}
			</tr>
			<tr>
				<td>19:00</td>
						@for (int i = 0; i < 7; i++)
						{
							var currentDate = Model.Date.AddDays(i);
							var slotTime = new DateTime(currentDate.Year, currentDate.Month, currentDate.Day, 19, 0, 0);
					<td class="time-slot">
						<div class="availability-input">
									@if (Model.Workouts != null)
									{
										foreach (var work in Model.Workouts)
										{
											if (work.BookingTime == slotTime)
											{
										<div class="card shadow" data-bs-toggle="modal" data-bs-target="#eventModal"
											 data-title="@work.Title" data-coach="@work.NameCoach" data-duration="@work.DurationMinutes" data-gym="@work.GymId" data-description="@work.Description">
											<div class="card-body">
												<h5 class="card-title">@work.Title</h5>
												<h6 class="card-subtitle mb-2 text-muted">@work.NameCoach</h6>
												<p class="card-text mb-1"><strong>Длительность:</strong> @work.DurationMinutes мин.</p>
												<p class="card-text mb-1"><strong>Зал №:</strong> @work.GymId</p>
											</div>
										</div>
											}
											else
											{
										<button type="button" data-bs-toggle="modal" data-bs-target="#slotModal" class="btn btn-danger">+</button>
											}
										}
									}
									@if (Model.Workouts.Count == 0)
									{
								<button type="button" data-bs-toggle="modal" data-bs-target="#slotModal" class="btn btn-danger">+</button>
									}
						</div>
					</td>
						}
			</tr>
		</tbody>
	</table>

	<div class="modal fade" id="slotModal" tabindex="-1" aria-labelledby="registrationModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="registrationModalLabel">Выставление возможностей</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form id="slotForm">
						<div class="mb-3">
							<label for="name" class="form-label">Название тренировки:</label>
							<input type="text" class="form-control" id="Title" name="Title" autocomplete="Title" required>
						</div>

						<div class="mb-3">
							<input type="hidden" name="NameCoach" value="@Model.Coach.FullName" required>
						</div>

						<div class="mb-3">
							<label for="contactPhoneNumber" class="form-label">Описание тренировки</label>
							<input type="text" class="form-control" id="Description" name="Description" autocomplete="Description" required>
						</div>

						<div class="mb-3">
							<label for="emailAddress" class="form-label">Предполагаемая продолжительность {мин}</label>
							<input type="text" class="form-control" id="DurationMinutes" name="DurationMinutes" autocomplete="DurationMinutes" required>
						</div>

						<div class="mb-3">
							<label for="Gym" class="form-label">Зал для тренировки</label>
							<select class="form-select" id="Gym" name="GymId" required>
								<option value="">Выберите зал</option>
								@foreach (var gym in Model.Gyms)
								{
								<option value="@gym.Value">@gym.Text</option>
								}
							</select>
						</div>

						<div class="mb-3">
							<input type="hidden" name="BookingTime" value="" required>
						</div>

						<div class="mb-3">
							<input type="hidden" name="CoachId" value="@Model.Coach.Id" required>
						</div>

						<div id="successMessage" class="mt-3 alert alert-success" style="display:none;"></div>
						<div id="errorMessage" class="mt-3 alert alert-danger" style="display:none;"></div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
					<button type="submit" form="slotForm" class="btn btn-danger">Сохранить</button>
				</div>
			</div>
		</div>
	</div>

</div>

<script src="~/js/site.js" asp-append-version="true"></script>


<style>

	.availability-input {


	}

	th, td {
		border: 1px solid #ddd;
		padding: 12px;
		text-align: center;
		vertical-align: middle;
	}

	th {
		background-color: #e0e0e0;
		color: #333;
		font-weight: bold;
		white-space: nowrap;
	}

	td:first-child { /* Стиль для колонки времени */
		background-color: #f0f0f0;
		font-weight: bold;
		color: #555;
	}

	.time-slot {
		height: 100px;
		transition: background-color 0.2s ease;
	}

		.time-slot:hover {
			background-color: #e9f7ef; /* Легкий эффект при наведении */
		}

	.available {
		background-color: #d4edda; /* Пример стиля для "свободно" */
	}

	.booked {
		background-color: #f8d7da; /* Пример стиля для "занято" */
	}



</style>
