@page
@using System.Globalization
@using gym_project_business_logic.Model
@model GymProjectClient.Pages.CoachWorkDataModel
@{
}

<div>

	<h3>@Model.Coach.FullName Welicome</h3>
	<p><strong>Специализация:</strong> @Model.Coach.Specialization</p>
	@foreach (Gym gym in Model.Gyms)
	{
		<p>@gym.Id зал - @gym.Name </p>
	}

	<h1>Расписание работы тренера</h1>
	<p>Отметьте доступные слоты.</p>

	<table class="bg-light w-100">
		<thead>
			<tr>
				<th>Время / Дата</th>
				<th>@Model.Date.ToString("dd MMMM", new CultureInfo("ru-RU"))<br>@Model.Date.ToString("dddd", new CultureInfo("ru-RU"))</th>
				<th>@Model.Date.AddDays(1).ToString("dd MMMM", new CultureInfo("ru-RU"))<br>@Model.Date.AddDays(1).ToString("dddd", new CultureInfo("ru-RU"))</th>
				<th>@Model.Date.AddDays(2).ToString("dd MMMM", new CultureInfo("ru-RU"))<br>@Model.Date.AddDays(2).ToString("dddd", new CultureInfo("ru-RU"))</th>
				<th>@Model.Date.AddDays(3).ToString("dd MMMM", new CultureInfo("ru-RU"))<br>@Model.Date.AddDays(3).ToString("dddd", new CultureInfo("ru-RU"))</th>
				<th>@Model.Date.AddDays(4).ToString("dd MMMM", new CultureInfo("ru-RU"))<br>@Model.Date.AddDays(4).ToString("dddd", new CultureInfo("ru-RU"))</th>
				<th>@Model.Date.AddDays(5).ToString("dd MMMM", new CultureInfo("ru-RU"))<br>@Model.Date.AddDays(5).ToString("dddd", new CultureInfo("ru-RU"))</th>
				<th>@Model.Date.AddDays(6).ToString("dd MMMM", new CultureInfo("ru-RU"))<br>@Model.Date.AddDays(6).ToString("dddd", new CultureInfo("ru-RU"))</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>11:00</td>
				<td class="time-slot">
					<div class="availability-input today-date">
						<button type="button" data-bs-toggle="modal" data-bs-target="#slotModal" class="btn btn-danger">+</button>
					</div>
				</td>
				<td class="time-slot">
					<div class="availability-input second-day-date">
						<button type="button" data-bs-toggle="modal" data-bs-target="#slotModal" class="btn btn-danger">+</button>
					</div></td>
				<td class="time-slot">
					<div class="availability-input third-day-date">
						<button type="button" data-bs-toggle="modal" data-bs-target="#slotModal" class="btn btn-danger">+</button>
					</div>
				</td>
				<td class="time-slot">
					<div class="availability-input fourth-day-date">
						<button type="button" data-bs-toggle="modal" data-bs-target="#slotModal" class="btn btn-danger">+</button>
					</div>
				</td>
				<td class="time-slot">
					<div class="availability-input fifth-day-date">
						<button type="button" data-bs-toggle="modal" data-bs-target="#slotModal" class="btn btn-danger">+</button>
					</div>
				</td>
				<td class="time-slot">
					<div class="availability-input sixth-day-date">
						<button type="button" data-bs-toggle="modal" data-bs-target="#slotModal" class="btn btn-danger">+</button>
					</div>
				</td>
				<td class="time-slot">
					<div class="availability-input seventh-day-date">
						<button type="button" data-bs-toggle="modal" data-bs-target="#slotModal" class="btn btn-danger">+</button>
					</div>
				</td>
			</tr>
			<tr>
				<td>14:00</td>
				<td class="time-slot">
					<div class="availability-input today-date">
						<button type="button" data-bs-toggle="modal" data-bs-target="#slotModal" class="btn btn-danger">+</button>
					</div>
				</td>
				<td class="time-slot">
					<div class="availability-input second-day-date">
						<button type="button" data-bs-toggle="modal" data-bs-target="#slotModal" class="btn btn-danger">+</button>
					</div>
				</td>
				<td class="time-slot">
					<div class="availability-input third-day-date">
						<button type="button" data-bs-toggle="modal" data-bs-target="#slotModal" class="btn btn-danger">+</button>
					</div>
				</td>
				<td class="time-slot">
					<div class="availability-input fourth-day-date">
						<button type="button" data-bs-toggle="modal" data-bs-target="#slotModal" class="btn btn-danger">+</button>
					</div>
				</td>
				<td class="time-slot">
					<div class="availability-input fifth-day-date">
						<button type="button" data-bs-toggle="modal" data-bs-target="#slotModal" class="btn btn-danger">+</button>
					</div>
				</td>
				<td class="time-slot">
					<div class="availability-input sixth-day-date">
						<button type="button" data-bs-toggle="modal" data-bs-target="#slotModal" class="btn btn-danger">+</button>
					</div>
				</td>
				<td class="time-slot">
					<div class="availability-input seventh-day-date">
						<button type="button" data-bs-toggle="modal" data-bs-target="#slotModal" class="btn btn-danger">+</button>
					</div>
				</td>
			</tr>
			<tr>
				<td>17:00</td>
				<td class="time-slot">
					<div class="availability-input today-date">
						<button type="button" data-bs-toggle="modal" data-bs-target="#slotModal" class="btn btn-danger">+</button>
					</div>
				</td>
				<td class="time-slot">
					<div class="availability-input second-day-date">
						<button type="button" data-bs-toggle="modal" data-bs-target="#slotModal" class="btn btn-danger">+</button>
					</div>
				</td>
				<td class="time-slot">
					<div class="availability-input third-day-date">
						<button type="button" data-bs-toggle="modal" data-bs-target="#slotModal" class="btn btn-danger">+</button>
					</div>
				</td>
				<td class="time-slot">
					<div class="availability-input fourth-day-date">
						<button type="button" data-bs-toggle="modal" data-bs-target="#slotModal" class="btn btn-danger">+</button>
					</div>
				</td>
				<td class="time-slot">
					<div class="availability-input fifth-day-date">
						<button type="button" data-bs-toggle="modal" data-bs-target="#slotModal" class="btn btn-danger">+</button>
					</div>
				</td>
				<td class="time-slot">
					<div class="availability-input sixth-day-date">
						<button type="button" data-bs-toggle="modal" data-bs-target="#slotModal" class="btn btn-danger">+</button>
					</div>
				</td>
				<td class="time-slot">
					<div class="availability-input seventh-day-date">
						<button type="button" data-bs-toggle="modal" data-bs-target="#slotModal" class="btn btn-danger">+</button>
					</div>
				</td>
			</tr>
			<tr>
				<td>19:00</td>
				<td class="time-slot">
					<div class="availability-input today-date">
						<button type="button" data-bs-toggle="modal" data-bs-target="#slotModal" class="btn btn-danger">+</button>
					</div>
				</td>
				<td class="time-slot">
					<div class="availability-input second-day-date">
						<button type="button" data-bs-toggle="modal" data-bs-target="#slotModal" class="btn btn-danger">+</button>
					</div>
				</td>
				<td class="time-slot">
					<div class="availability-input third-day-date">
						<button type="button" data-bs-toggle="modal" data-bs-target="#slotModal" class="btn btn-danger">+</button>
					</div>
				</td>
				<td class="time-slot">
					<div class="availability-input fourth-day-date">
						<button type="button" data-bs-toggle="modal" data-bs-target="#slotModal" class="btn btn-danger">+</button>
					</div>
				</td>
				<td class="time-slot">
					<div class="availability-input fifth-day-date">
						<button type="button" data-bs-toggle="modal" data-bs-target="#slotModal" class="btn btn-danger">+</button>
					</div>
				</td>
				<td class="time-slot">
					<div class="availability-input sixth-day-date">
						<button type="button" data-bs-toggle="modal" data-bs-target="#slotModal" class="btn btn-danger">+</button>
					</div>
				</td>
				<td class="time-slot">
					<div class="availability-input seventh-day-date">
						<button type="button" data-bs-toggle="modal" data-bs-target="#slotModal" class="btn btn-danger">+</button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>

	<div class="modal fade" id="slotModal" tabindex="-1" aria-labelledby="registrationModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="registrationModalLabel">Выставление возможностей</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form id="slotForm">
						<div class="mb-3">
							<label for="name" class="form-label">Название тренировки:</label>
							<input type="text" class="form-control" id="Title" name="Title" autocomplete="Title" required>
						</div>

						<div class="mb-3">
							<input type="hidden" name="NameCoach" value="@Model.Coach.FullName" required>
						</div>

						<div class="mb-3">
							<label for="contactPhoneNumber" class="form-label">Описание тренировки</label>
							<input type="text" class="form-control" id="Description" name="Description" autocomplete="Description" required>
						</div>

						<div class="mb-3">
							<label for="emailAddress" class="form-label">Предполагаемая продолжительность</label>
							<input type="text" class="form-control" id="DurationMinutes" name="DurationMinutes" autocomplete="DurationMinutes" required>
						</div>

						<div class="mb-3">
							<label for="gender" class="form-label">Зал для тренировки</label>
							<select class="form-select" id="Gym" name="Gym" required>
								<option value="">Выберите зал</option>
								@foreach (Gym gym in Model.Gyms)
								{
								<option value="@gym.Id">@gym.Name</option>
								}
							</select>
						</div>

						<div class="mb-3">
							<input type="hidden" name="BookingTime" value="" required>
						</div>

						<div class="mb-3">
							<input type="hidden" name="CoachId" value="@Model.Coach.Id" required>
						</div>

						<div id="successMessage" class="mt-3 alert alert-success" style="display:none;"></div>
						<div id="errorMessage" class="mt-3 alert alert-danger" style="display:none;"></div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
					<button type="submit" form="slotForm" class="btn btn-danger">Сохранить</button>
				</div>
			</div>
		</div>
	</div>

</div>

<script src="~/js/site.js" asp-append-version="true"></script>


<style>
	th, td {
		border: 1px solid #ddd;
		padding: 12px;
		text-align: center;
		vertical-align: middle;
	}

	th {
		background-color: #e0e0e0;
		color: #333;
		font-weight: bold;
		white-space: nowrap;
	}

	td:first-child { /* Стиль для колонки времени */
		background-color: #f0f0f0;
		font-weight: bold;
		color: #555;
	}

	.time-slot {
		height: 100px;
		transition: background-color 0.2s ease;
	}

		.time-slot:hover {
			background-color: #e9f7ef; /* Легкий эффект при наведении */
		}

	.available {
		background-color: #d4edda; /* Пример стиля для "свободно" */
	}

	.booked {
		background-color: #f8d7da; /* Пример стиля для "занято" */
	}



</style>
