@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>

	<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-inner mt-5 mb-5">
			<div class="carousel-item active">
				<div class="row">
					<div class="col-1"></div>
					<div class="col-3">
						<div class="card card-h">
							<img src="@Url.Content("~/images/cardGYM.webp")" class="img-thumbnail" alt="">
							<div class="card-body">
								<h5 class="card-title">ТРЕНАЖЕРНЫЙ ЗАЛ</h5>
								<p class="card-text">
									На все группы мышц, базовые тренажёры и тренажёры для детальной проработки. Ещё, у нас есть уникальные тренажёры, какие редко можно встретить в залах.
									А главное, что все оборудование профессиональное и новое, мы его регулярно обновляем, чтобы вам было в кайф тренироваться.
								</p>
								<a href="/Clients" class="btn btn-danger btn-sm">ЗАПИСЬ</a>
							</div>
						</div>
					</div>
					<div class="col-3">
						<div class="card card-h">
							<img src="@Url.Content("~/images/cardCardio.webp")" class="img-thumbnail" alt="">
							<div class="card-body">
								<h5 class="card-title">КАРДИО ЗОНА</h5>
								<p class="card-text">
									Беговые дорожки, механические дорожки, эллипсы, разнообразные велотренажёры, аэробайки и гребля, - чего у нас только нет! Есть кардио для всех возрастов и для любого уровня подготовки. 
									И, конечно, мы тщательно ухаживаем за нашим оборудованием, чтобы вы чувствовали себя комфортно и могли полностью погрузиться в тренировочный процесс.
								</p>
								<a href="/Clients" class="btn btn-danger btn-sm">ОФОРМИТЬ</a>
							</div>
						</div>
					</div>
					<div class="col-3">
						<div class="card card-h">
							<img src="@Url.Content("~/images/cardTennis.webp")" " class="img-thumbnail" alt="">
							<div class="card-body">
								<h5 class="card-title">НАСТОЛЬНЫЙ ТЕННИС</h5>
								<p class="card-text">
									Не всегда хочется тяжело тренироваться. Иногда можно позволить себе расслабиться, отдохнуть и сыграть партию-другую в настольный теннис.
									Для этого мы разместили в зале теннисные столы, а ракетки можно взять на ресепшен.
								</p>
								<a href="/Clients" class="btn btn-danger btn-sm">ЗАБРОНИРОВАТЬ</a>
							</div>
						</div>
					</div>
					<div class="col-1"></div>
				</div>
			</div>
			<div class="carousel-item">
				<div class="row">
					<div class="col-1"></div>
					<div class="col-3">
						<div class="card card-h">
							<img src="@Url.Content("~/images/cardSauna.webp")" class="img-thumbnail" alt="">
							<div class="card-body">
								<h5 class="card-title">САУНА</h5>
								<p class="card-text">
									Сауна после тренировки - это вообще самый кайф. Нужно ли ещё что-то про это объяснять? Мы считаем, не нужно. 
									Вы и сами все понимаете! Кстати, для вашего удобства, в нашу общую сауну можно попасть прямо из раздевалки.
								</p>
								<a href="/Clients" class="btn btn-danger btn-sm">ЗАБРОНИРОВАТЬ</a>
							</div>
						</div>
					</div>
					<div class="col-3">
						<div class="card card-h">
							<img src="@Url.Content("~/images/cardMassage.webp")" class="img-thumbnail" alt="">
							<div class="card-body">
								<h5 class="card-title">ЗОНА МАССАЖА</h5>
								<p class="card-text">

									После интенсивных нагрузок ваше тело заслуживает полноценного восстановления. 
									Массажная зона TOP-Gym – это специально созданное пространство, где передовые технологии и атмосфера спокойствия работают на ваше благо
									Получить массаж в массажном кресле (первый сеанс бесплатно)
								</p>
								<a href="/Clients" class="btn btn-danger btn-sm">ЗАКАЗАТЬ</a>
							</div>
						</div>
					</div>
					<div class="col-3">
						<div class="card card-h">
							<img src="@Url.Content("~/images/cardBox.webp")" class="img-thumbnail" alt="">
							<div class="card-body">
								<h5 class="card-title">БОКС</h5>
								<p class="card-text">
									Тут есть ринг, мешки, татами, бойцовская экипировка и рабочий вайб. 
									Тренируйся сам или посещай групповые тренировки по самым разным единоборствам - решать тебе.
								</p>
								<a href="/Clients" class="btn btn-danger btn-sm">РАСЧИТАТЬ СТОИМОСТЬ</a>
							</div>
						</div>
					</div>
					<div class="col-1"></div>
				</div>
			</div>
			<div class="carousel-item">
				<div class="row">
					<div class="col-1"></div>
					<div class="col-3">
						<div class="card card-h">
							<img src="@Url.Content("~/images/cardBasketball.webp")" class="img-thumbnail" alt="">
							<div class="card-body">
								<h5 class="card-title">БАСКЕТБОЛЬНАЯ ПЛОЩАДКА</h5>
								<p class="card-text">
									Баскетбольная площадка в спортивном зале представляет собой специальное покрытие с нанесенной разметкой. 
									Обычно покрыта высококачественным паркетом или синтетическим материалом, обеспечивающим хорошее сцепление обуви игрока с поверхностью и защиту от травм.
								</p>
								<a href="/Clients" class="btn btn-danger btn-sm">РАСЧИТАТЬ СТОИМОСТЬ</a>
							</div>
						</div>
					</div>
					<div class="col-3">
						<div class="card card-h">
							<img src="@Url.Content("~/images/cardBackground.webp")" class="img-thumbnail" alt="">
							<div class="card-body">
								<h5 class="card-title">ЗАЛЫ ДЛЯ ГРУППОВЫХ ЗАНЯТИЙ</h5>
								<p class="card-text">
									Здесь проходит не только аэробика! Ведь у нас просто куча групповых направлений и различного инвентаря к ним. 
									А в свободное от занятий время вы можете смело пользоваться залами для заминки, разминки или просто пофоткаться в зеркало.
								</p>
								<a href="/Clients" class="btn btn-danger btn-sm">ОФОРМИТЬ</a>
							</div>
						</div>
					</div>
					<div class="col-3">
						<div class="card card-h">
							<img src="@Url.Content("~/images/cardCoach.webp")" class="img-thumbnail" alt="">
							<div class="card-body">
								<h5 class="card-title">ИНДИВИДУАЛЬНАЯ ТРЕНИРОВКА</h5>
								<p class="card-text">
									Персональное занятие с тренером, направленное на достижение конкретных целей каждого клиента. 
									Тренер составляет программу тренировок исходя из уровня физической подготовки, здоровья и пожеланий занимающегося.
								</p>
								<a href="/Clients" class="btn btn-danger btn-sm">ОФОРМИТЬ</a>
							</div>
						</div>
					</div>
					<div class="col-1"></div>
				</div>
			</div>
		</div>
		<div class="carousel-indicators">
			<button class="active bg-primary" type="button" data-bs-target="#carouselExampleIndicators"
					data-bs-slide-to="0" aria-current="true" aria-label="Slide 1"></button>
			<button class="bg-primary" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
					aria-label="Slide 2"></button>
			<button class="bg-primary" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
					aria-label="Slide 3"></button>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
				data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Предыдущий</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
				data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Следующий</span>
		</button>
	</div>

</div>
